:root {
  --sensebox-color: #4EAF47;
}

.widget {
  position: relative;
  padding-top: 0px;
  width: 100%;
  height: 100%
}

.widget-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  border-radius: 3px 3px 0 0;
  display: flex;
  margin-top: 0px;
  height: 9%;
}

.widget-tab,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:first-child {
  position: relative;
  display: flex;
  vertical-align: top;
  margin-top: 3px;
  font-weight: normal;
  color: #999;
  background: #fcfcfc;
  border: solid #ddd;
  border-width: 1px 1px 0;
  border-radius: 5px 5px 0 0;
  padding-bottom: 0;
  bottom: auto;
  width: 33.33%;
  min-height: 25px;
}

.widget-tab > .widget-tab-link
/*.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link*/ {
  margin: auto;
  border-top: 0;
}

.widget-tab + .widget-tab {
  margin-right: -1px;
}

/* Das Ding hier hebt einen Tab hervor*/
.widget-tab:first-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:last-child,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:first-child {
  bottom: -1px;
  margin-top: 0;
  padding-bottom: 2px;
  font-weight: bold;
  color: #555;
  background: white;
  border-top: 0;
}

.widget-tab-link {
  position: relative;
  min-width: 60px;
  /*padding: 0 15px*/;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.widget-list {
  display: none;
  overflow-y: auto;
  padding-bottom: 0px;
  height: 88%;
  position: absolute;
  width: 100%;
}

.widget-list > li + li {
  border-top: 1px solid #e8e8e8;
}

.widget-list:last-of-type {
  display: block;
}

.widget-list:target {
  display: flex;
  flex-direction: column;
}

.widget-list:target ~ .widget-list {
  display: none;
}

.widget-list-link {
  display: block;
  line-height: 18px;
  padding: 10px 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.widget-list-link:hover {
  background: #f7f7f7;
}

li:last-child > .widget-list-link {
  border-radius: 0 0 3px 3px;
}

.widget-list-link > img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 2px 12px 0 0;
}

.widget-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}

#graph-target {
  width: 100%;
  height: 87.5%;
  padding-left: 0%;
  color: gray;
  min-width: 275px;
  min-height: 250px;
}

#graph {
  padding-left: 0px;
}

.selectwrapper {
  display: inline-block;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 3px;
}

#history {
  padding-left: 0px;
}

#sensors {
  padding-left: 5%;
  width: 95%;
}

.innerDiv h3 {
  color: var(--sensebox-color);
  font-size: 16px;
  margin: 10px 0;
}

.innerDiv p {
  color: grey;
  margin: 5px 2px 5px 0;
}

.innerDiv-history {
  width: 80%;
  border: 1px solid lightgrey;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px;
}

.innerDiv-history p {
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: grey;
}

.innerDiv-history b {
  color: var(--sensebox-color);
}

.innerDiv-history i {
  color: grey;
}

.widget-header {
  position: relative;
  display: flex;
  height: 15%;
}

.widget-header img {
  height: 80%;
  padding: 10% 5% 10% 5%;
}

.widget-wrapper {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#graph-target svg {
  width: 100%;
  height: 100%;
}

.mg-chart-title {
  color: grey;
}

.widgetselect {
  background-color: white;
  color: green;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
}

.selectlabel::after {
  position: absolute;
  top: 1.25em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: .375em solid var(--sensebox-color);
}

#currentsensorgraph option {
  border: none;
  outline: none;
}

#graph:target {
  display: flex;
  flex-direction: column;
}

#history:target {
  display: flex;
  flex-direction: column;
}

#history:target {
  display: flex;
  flex-direction: column;
}

.arrowwrapper {
  display: inline-flex;
  width: 1em;
  height: 100%;
  vertical-align: middle;
}

.arrow {
  width: 20%;
  margin: auto;
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: .375em solid var(--sensebox-color);
  pointer-events: none;
}

#titlearea {
  margin: auto;
  color: #4EAF47;
  cursor: default;
}

.questionmarkwrapper {
  margin: auto 3%;
  display: flex;
  cursor: default;
}

.questionmark {
  background-color: var(--sensebox-color);
  border-radius: 100%;
  color: white;
  width: 20px;
  height: 20px;
}

.questionmark p {
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.tooltip {
  visibility: hidden;
  border: 1px solid lightgrey;
  border-radius: 3px;
  position: absolute;
  background-color: white;
  z-index: 100;
  top: 75%;
  right: 0;
  text-align: center;
  max-width: 75%;
}

.tooltip p {
  margin: 7px;
  color: grey;
  font-style: italic;
  font-size: 14px;
}

.questionmark:hover ~ .tooltip {
  visibility: visible;
}

.titletooltip {
  visibility: hidden;
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 1px;
  z-index: 100;
  font-size: 12px;
  color: grey;
  font-style: italic;
  text-align: center;
  cursor: default;
}

#titlearea:hover ~ .titletooltip {
  visibility: visible;
}